* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #0b0b17;
  color: white;

  background-image:
    linear-gradient(rgba(255, 255, 255, 0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.04) 1px, transparent 1px);

  background-size: 60px 60px;
  background-attachment: fixed;
}
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  height: 80px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 60px;

  background:
    radial-gradient(
      circle at top center,
      rgba(168, 85, 247, 0.08),
      transparent 60%
    ),
    #0b0b17;
  color: white;

  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  object-fit: cover;
}

.logo h2 {
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 35px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 500;

  transition: 0.3s ease;
}

.navbar ul li a:hover {
  color: #38bdf8;
}

.navbar ul li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #38bdf8;
  transition: 0.3s;
}

.navbar ul li a:hover::after {
  width: 100%;
}
